absl-py==1.4.0
accelerate==0.33.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
anyio==4.3.0
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
attr==0.3.1
attrs==23.1.0
azure-core==1.30.1
azure-storage-blob==12.20.0
beautifulsoup4==4.12.2
bleach==5.0.1
boto==2.49.0
boto3==1.34.113
botocore==1.34.113
boxing==0.1.4
cachetools==5.3.0
Calculator==1.1.0
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
cloudscraper==1.2.71
colorama==0.4.6
comtypes==1.1.14
contourpy==1.0.7
cryptography==42.0.7
cycler==0.11.0
datasets==2.20.0
defusedxml==0.7.1
dill==0.3.8
display==1.0.0
distro==1.9.0
Django==3.2.25
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
dnspython==2.6.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
email_validator==2.1.1
evaluate==0.4.2
exceptiongroup==1.1.2
expiringdict==1.2.2
fastapi==0.111.0
fastapi-cli==0.0.4
file-search==0.0.3
filelock==3.12.0
flatbuffers==23.5.8
fonttools==4.39.4
frozenlist==1.4.1
fsspec==2023.5.0
gast==0.4.0
google-api-core==2.19.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.4.3
google-cloud-audit-log==0.2.5
google-cloud-core==2.4.1
google-cloud-logging==3.10.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
grpcio==1.64.0
grpcio-status==1.62.2
gTTS==2.3.2
h11==0.14.0
h5py==3.8.0
htmlmin==0.1.12
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.21.4
humansignal-drf-yasg==1.21.9
idna==3.4
ijson==3.2.3
inflection==0.5.1
isodate==0.6.1
jax==0.4.9
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==3.2.0
keras==2.12.0
kiwisolver==1.4.4
label-studio==1.12.1
label-studio-converter==0.0.58
label-studio-tools==0.0.4
langdetect==1.0.9
launchdarkly-server-sdk==8.2.1
Levenshtein==0.25.0
libclang==16.0.0
lockfile==0.12.2
lxml==5.2.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
ml-dtypes==0.1.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
music==0.7b3
nearby==0.1.3
networkx==3.1
nltk==3.6.7
numpy==1.26.4
oauthlib==3.2.2
openai==1.30.3
opencv-python==4.9.0.80
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.10.3
outcome==1.2.0
packaging==23.1
pandas==2.0.2
pdf2image==1.17.0
pillow==10.3.0
playsound==1.3.0
proto-plus==1.23.0
protobuf==4.23.0
psutil==6.0.0
psycopg2-binary==2.9.9
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycparser==2.21
pydantic==1.10.15
Pygments==2.18.0
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyRFC3339==1.1
pyrsistent==0.20.0
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.4
python-Levenshtein==0.25.0
python-multipart==0.0.9
pyttsx3==2.90
pytz==2022.7.1
pywin32==306
PyYAML==6.0
rapidfuzz==3.6.2
redis==3.5.3
regex==2023.5.5
requests==2.32.3
requests-file==2.0.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.1
rq==1.10.1
rsa==4.9
rules==2.2
s3transfer==0.10.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.10.1
selenium==4.10.0
semver==3.0.2
send-text==1.0.1
sentence-transformers==2.5.1
sentry-sdk==2.3.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
sqlparse==0.5.0
starlette==0.37.2
sympy==1.12
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.18.0.post0
tflearn==0.5.0
threadpoolctl==3.3.0
tldextract==5.1.2
tokenizers==0.15.2
torch==2.0.1
tqdm==4.66.4
transformers==4.38.2
trio==0.22.1
trio-websocket==0.10.3
TurkishStemmer==1.3
typer==0.12.3
typing_extensions==4.12.0
tzdata==2023.3
ua-parser==0.18.0
ujson==5.10.0
uritemplate==4.1.1
urllib3==1.26.18
user-agents==2.2.0
uvicorn==0.30.0
vaderSentiment==3.3.2
watchfiles==0.22.0
webencodings==0.5.1
websockets==12.0
Werkzeug==2.3.4
wikipedia==1.4.0
win10toast==0.9
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xmljson==0.2.0
xxhash==3.4.1
yarl==1.9.4
youtube-search==2.1.2